body{
    background-color: black;
}
.convertor{
    background-color: rgb(229, 25, 130);
    border-radius: 5px;
    color: white;
    width: 30%;
    text-align: center;
    padding: 50px 20px;
    margin: 10% 35%;
}
#input_value input{
    padding: 16px 18px;
    width: 90%;
    border-radius: 25px;
    outline: none;
    border: 1px solid white;
    font-size: 18px;
}
button{
    padding: 14px 16px;
    margin-top: 12px;
    border-radius: 15px;
    border: 1px solid white;
    cursor: pointer;
}
#input_value1 input{
    padding: 16px 18px;
    width: 90%;
    border-radius: 25px;
    outline: none;
    border: 1px solid white;
    font-size: 18px;
}